<h1>Feeds</h1>

<% min_idx = 0 %>
<% max_idx = @videos.count - 1 %>
<% columns = 3 %>

<% @videos.each_with_index do |video, i| %>
    <% tweet = video.tweets.first %>

    <% if i == min_idx || i % columns == 0 %>
        <div class="row-fluid">
    <% end %>

    <div class="span4">
        <div class="feed-item">
            <%= link_to(feeds_show_path(video)) do %>
                <span class="video-img"><%= image_tag(video.image_cached || '_.gif', alt: video.title, class: 'img', style: 'width: 100%') %></span>
                <span class="video-txt">
                    <span class="tweet-icon"><%= image_tag(tweet.image_cached, alt: tweet.user, size: '48x48') %></span>
                    <span class="tweet-user"><%= tweet.user %></span>
                    <span class="tweet-date"><%= time_ago_in_words(tweet.date) %> ago</span>
                    <span class="tweet-text"><%= minimal_tweet_text(tweet.text) %></span>
                </span>
            <% end %>
        </div>
    </div>

    <% if i == max_idx || i % columns == columns - 1 %>
        </div>
    <% end %>
<% end %>
