<h1>Feeds</h1>

<% min_idx = 0 %>
<% max_idx = @videos.count - 1 %>
<% columns = 4 %>

<% @videos.each_with_index do |video, i| %>
    <% tweet = video.tweets.first %>

    <% if i == min_idx || i % columns == 0 %>
        <div class="row-fluid">
    <% end %>

    <div class="span3">
        <div class="feed-item">
            <div class="video-img"><%= link_to(image_tag(video.image_cached, alt: video.title, style: 'width: 100%'), feeds_show_path(video), class: 'img') %></div>
            <div class="video-txt">
                <div class="tweet-icon"><%= image_tag(tweet.image_cached, alt: tweet.user, size: '48x48') %></div>
                <h3 class="tweet-user"><%= tweet.user %></h3>
                <div class="tweet-text"><%= minimal_tweet_text(tweet.text) %></div>
                <div class="tweet-date"><%= time_ago_in_words(tweet.date) %> ago</div>
            </div>
        </div>
    </div>

    <% if i == max_idx || i % columns == columns - 1 %>
        </div>
    <% end %>
<% end %>
