<div class="row-fluid">
    <div class="span2"><h1>Feeds</h1></div>
    <div class="span3 pull-right">
        <%= link_to(refresh_feeds_path, class: 'button button-update', style: 'margin-top: 1.6em;') do %>
            <i class="icon icon-refresh"></i> Update
        <% end %>
    </div>
</div>

<% columns = 4 %>
<% min_idx = 0 %>
<% max_idx = @tweets.count - 1 %>

<% @tweets.each_with_index do |tweet, i| %>
    <% video = tweet.you_tube_videos.find(tweet.you_tube_video_id) %>

    <% if i == min_idx || i % columns == 0 %>
        <div class="row-fluid">
    <% end %>

    <div class="span3">
        <div class="feed-item">
            <%= link_to(feed_path(video)) do %>
                <span class="tweet-icon"><%= image_tag(tweet.image_cached, alt: tweet.user, size: '48x48') %></span>
                <span class="video-img img" style="background-image: url(<%= video.image_cached %>)"></span>
                <span class="video-txt">
                    <span class="tweet-user"><%= tweet.user %></span>
                    <span class="tweet-date"><%= time_ago_in_words(tweet.date) %> ago</span>
                    <span class="tweet-text"><%= minimal_tweet_text(tweet.text) %></span>
                </span>
            <% end %>
        </div>
    </div>

    <% if i == max_idx || i % columns == columns - 1 %>
        </div>
    <% end %>
<% end %>
