<div class="row-fluid">
    <div class="span7">
        <h1><%= @movie.title %></h1>

        <% if @movie.rating || @movie.runtime || @movie.year %>
            <dl class="details clearfix">
                <% if @movie.rating %>
                    <dt>Rating</dt>
                    <dd><%= @movie.rating %></dd>
                <% end %>

                <% if @movie.runtime %>
                    <dt>Runtime</dt>
                    <dd><%= @movie.runtime %></dd>
                <% end %>

                <% if @movie.year %>
                    <dt>Release</dt>
                    <dd><%= @movie.year %></dd>
                <% end %>
            </dl>
        <% end %>

        <p><%= @movie.description %></p>

        <div class="row-fluid">
            <div class="span4">
                <%= link_to(file_path(@video_files.first_watchable), class: 'button') do %>
                    <i class="icon icon-play"></i> Play next
                <% end %>
            </div>
            <div class="span4">
                <%= link_to(watched_movie_path(@movie), class: 'button') do %>
                    <% if @movie.watched? %>
                        <i class="icon icon-eye-close"></i> Mark unwatched
                    <% else %>
                        <i class="icon icon-eye-open"></i> Mark watched
                    <% end %>
                <% end %>
            </div>
            <div class="span4">
                <%= link_to(file_search_path(@video_files.map(&:id).join(',')), class: 'button') do %>
                    <i class="icon icon-remove"></i> Wrong movie?
                <% end %>
            </div>
        </div>

        <h2>Files</h2>
        <ul>
            <% @video_files.each do |vf| %>
                <li<%= ' class="watched"'.html_safe if vf.watched? %>><%= link_to(vf.path.split('/').last, file_path(vf)) %></li>
            <% end %>
        </ul>
    </div>

    <div class="poster pull-right">
        <img src="<%= @movie.image_cached %>">
    </div>
</div>
