<div class="row-fluid">
    <div class="span7">
        <h1><%= @movie.title %></h1>

        <% if @movie.rating || @movie.runtime || @movie.year %>
            <dl class="details clearfix">
                <% if @movie.rating %>
                    <dt>Rating</dt>
                    <dd><%= @movie.rating %></dd>
                <% end %>

                <% if @movie.runtime %>
                    <dt>Runtime</dt>
                    <dd><%= @movie.runtime %></dd>
                <% end %>

                <% if @movie.year %>
                    <dt>Release</dt>
                    <dd><%= @movie.year %></dd>
                <% end %>
            </dl>
        <% end %>

        <p><%= @movie.description %></p>

        <h2>Files</h2>
        <ul>
            <% @movie.video_files.each do |vf| %>
                <li><%= link_to(vf.path.split('/').last, file_path(vf)) %></li>
            <% end %>
        </ul>
    </div>

    <div class="poster pull-right">
        <img src="<%= @movie.image_cached %>">
    </div>
</div>
