<div class="row-fluid">

    <div class="span5">
        <h2>Search</h2>

        <form class="form-horizontal">
            <%= hidden_field_tag :ids, params[:ids] %>

            <div class="control-group">
                <label class="control-label">Title</label>
                <div class="controls"><%= text_field_tag :title, @title, class: 'input-block-level' %></div>
            </div>

            <div class="control-group">
                <label class="control-label">Year</label>
                <div class="controls"><%= text_field_tag :year, @year, class: 'input-small' %></div>
            </div>

            <div class="control-group">
                <label class="control-label">Match</label>
                <div class="controls">
                    <label class="radio inline"><%= radio_button_tag('media', 'movie', @media == 'movie') %> Movie</label>
                    <label class="radio inline"><%= radio_button_tag('media', 'series', @media == 'series') %> Series</label>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <a href="#" class="button submit">
                        <i class="icon icon-search"></i>
                        Search
                    </a>
                </div>
            </div>
        </form>
    </div>

    <div class="span6 offset1">
        <h2>Matches</h2>

        <ul>
            <% @matches.each do |match| %>
                <% if @media == 'series' %>
                    <li>
                        <p><%= link_to(match['SeriesName'], file_search_path(params[:ids], tvdb_id: match['id'])) %></p>
                        <% if match['FirstAired'] %>
                            <p>First aired: <%= match['FirstAired'].split('-')[0] %></p>
                        <% end %>
                        <p><%= match['Overview'] %></p>
                    </li>
                <% else %>
                    <li>
                        <p>
                            <%= link_to(match[:title].html_safe, file_search_path(params[:ids], imdb_id: match[:imdb_id])) %>
                            <% if match[:year] %>(<%= match[:year][1] %>)<% end %>
                        </p>
                    </li>
                <% end %>
            <% end %>
        </ul>

    </div>
</div>
