
<div class="row-fluid">
    <div class="span7">
        <h1><%= @series.title %></h1>

        <% if @series.rating %>
            <dl class="details clearfix">
                <dt>Rating</dt>
                <dd><%= @series.rating %></dd>
            </dl>
        <% end %>

        <p><%= @series.description %></p>

        <div class="row-fluid">
            <div class="span4">
                <%= link_to(file_path(@video_files.first_watchable), class: 'button') do %>
                    <i class="icon icon-play"></i> Play next
                <% end %>
            </div>
            <div class="span4">
                <%= link_to(watched_series_path(@series), class: 'button') do %>
                    <% if @series.watched? %>
                        <i class="icon icon-eye-close"></i> Mark unwatched
                    <% else %>
                        <i class="icon icon-eye-open"></i> Mark watched
                    <% end %>
                <% end %>
            </div>
            <div class="span4">
                <%= link_to(file_search_path(@video_files.map(&:id).join(',')), class: 'button') do %>
                    <i class="icon icon-remove"></i> Wrong series?
                <% end %>
            </div>
        </div>

        <% min_idx = 0 %>
        <% max_idx = @video_files.count - 1 %>
        <% @video_files.each_with_index do |vf, i| %>
            <% prev_season = @video_files[i-1].try(:season) if i > min_idx %>
            <% next_season = @video_files[i+1].try(:season) if i < max_idx %>

            <% if vf.season.nil? && i == 0 %>
                <h2>Files</h2>
            <% elsif vf.season != prev_season %>
                <h2>Season <%= vf.season %></h2>
            <% end %>

            <% if vf.season != prev_season || i == min_idx %>
                <ul>
            <% end %>

            <li<%= ' class="watched"'.html_safe if vf.watched? %>><%= link_to(truncate("Episode #{vf.episode || '?'} - #{vf.path.split('/').last}", length: 65), file_path(vf)) %></li>

            <% if vf.season != next_season || i == max_idx %>
                </ul>
            <% end %>

        <% end %>
    </div>

    <div class="span5 poster" style="background-image: url(<%= @series.image_cached %>);"></div>
</div>
