<!doctype html>
<html lang="en">
<head>
  <title>TenFoot</title>

  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Economica:400,700|Titillium+Web:300,600' %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>

</head>
<body class="<%= body_classes %>">

    <div class="container-fluid">

        <%= yield %>

    </div>

</body>
</html>
